section
	header
		nav
			a(sref="/") dante.codes
			a(sref="/apps") apps
			a(sref="/toys") toys

	.contact-info
		.spacer
		dl
			dt Twitter
			dd
				a(
					target="_blank"
					ng-href="//twitter.com/{{$ctrl.twitter}}"
				) {{$ctrl.twitter}}

			dt Email
			dd
				a(
					ng-href="mailto:{{$ctrl.email}}"
				) {{$ctrl.email}}

			dt Github
			dd
				a(
					target="_blank"
					ng-href="//github.com/{{$ctrl.github}}"
				) {{$ctrl.github}}

