header
	nav
		a(sref="root") dante.codes
		a(sref="apps") apps
		a(sref="toys") toys

.contact
	dl.contact__list
		dt.contact__method Github
		dd.contact__link
			a(
				target="_blank"
				ng-href="//github.com/{{$ctrl.github}}"
			) {{$ctrl.github}}

		dt.contact__method Email
		dd.contact__link
			a(
				ng-href="mailto:{{$ctrl.email}}"
			) {{$ctrl.email}}

		dt.contact__method Twitter
		dd.contact__link
			a(
				target="_blank"
				ng-href="//twitter.com/{{$ctrl.twitter}}"
			) {{$ctrl.twitter}}

